<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40-Client" />
  <package id="WebAPIClient" version="1.0.3" targetFramework="net40-Client" />
  <package id="WebAPIObjects" version="1.0.3.0" targetFramework="net40-Client" />
</packages>